Repository ValeriiVasin/l2-enchant-web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,json}": "prettier --write",
  "*.{ts,tsx,js}": "eslint --fix"
}

fix: cleanup unused vars
  src/components/agathions.tsx
  src/components/clan-cloak.tsx
  src/components/crystal-aden.tsx
  src/components/crystal-hardin.tsx
  src/components/dimensional-talisman.tsx
  src/components/dragon-belt.tsx
  src/components/dragon-pendant.tsx
  src/components/event-frozen-canyon.tsx
  src/components/growth-rune.tsx
  src/components/hero-crown.tsx
  src/components/hunter-earring.tsx
  src/components/saiha-cloaks.tsx
  src/components/stones.tsx
  src/components/symbols.tsx
  src/components/talisman-of-aden.tsx
  src/components/talisman-of-authority.tsx
  src/components/talisman-of-benir.tsx
  src/components/talisman-of-eva.tsx
  src/components/talisman-of-magmeld.tsx
  src/helpers/calculate-enchants.test.ts
Due: eslint --fix

chore: cleanup enums (#210)
  src/components/agathions.tsx
  src/components/clan-cloak.tsx
  src/components/crystal-aden.tsx
  src/components/crystal-hardin.tsx
  src/components/dimensional-talisman.tsx
  src/components/dragon-belt.tsx
  src/components/dragon-pendant.tsx
  src/components/event-frozen-canyon.tsx
  src/components/growth-rune.tsx
  src/components/hero-crown.tsx
  src/components/hunter-earring.tsx
  src/components/saiha-cloaks.tsx
  src/components/stones.tsx
  src/components/symbols.tsx
  src/components/talisman-of-aden.tsx
  src/components/talisman-of-authority.tsx
  src/components/talisman-of-benir.tsx
  src/components/talisman-of-eva.tsx
  src/components/talisman-of-magmeld.tsx
  src/helpers/calculate-enchant.ts
  src/helpers/calculate-enchants.test.ts
  src/helpers/unwrap-safe-drops.ts
  src/types.ts
Due: eslint --fix

chore: npm up
  package-lock.json
Due: prettier --write

chore: bump lint-staged
  package-lock.json
  package.json
Due: prettier --write

chore: update eslint and prettier
  package-lock.json
  package.json
Due: prettier --write

chore: bump vite
  package-lock.json
  package.json
Due: prettier --write

chore: npm up (#211)
  package-lock.json
  package.json
Due: prettier --write

feat: start higher order refactoring
  src/components/agathions.tsx
  src/components/base/menu/menu.tsx
  src/components/base/page-content.tsx
  src/components/event-frozen-canyon.tsx
  src/enchants/agathions.ts
  src/enchants/event-frozen-canyon.ts
  src/helpers/calculate-enchant.ts
  src/hooks/use-formatter.ts
  src/hooks/use-table-row-props.ts
  src/router-config.tsx
  src/types.ts
Due: eslint --fix

refactor: clan cloak
  src/components/clan-cloak.tsx
  src/enchants/clan-cloak.ts
  src/router-config.tsx
Due: eslint --fix

refactor: stones
  src/enchants/stones.ts
  src/router-config.tsx
Due: eslint --fix

refactor: crystal aden
  src/components/crystal-aden.tsx
  src/enchants/crystal-aden.ts
  src/router-config.tsx
Due: eslint --fix

refactor: hardin
  src/components/base/page-content.tsx
  src/components/crystal-hardin.tsx
  src/enchants/crystal-hardin.ts
  src/router-config.tsx
Due: eslint --fix

refactor: eva
  src/components/talisman-of-eva.tsx
  src/enchants/talisman-of-eva.ts
  src/router-config.tsx
Due: eslint --fix

refactor: benir
  src/components/talisman-of-benir.tsx
  src/enchants/talisman-of-benir.ts
  src/router-config.tsx
Due: eslint --fix

refactor: cleanup
  src/enchants/agathions.ts
  src/enchants/clan-cloak.ts
  src/enchants/event-frozen-canyon.ts
  src/enchants/stones.ts
  src/enchants/talisman-of-eva.ts
Due: eslint --fix

refactor: cleanup
  src/components/stones.tsx
Due: eslint --fix

chore: growth rune
  src/components/growth-rune.tsx
  src/enchants/growth-rune.ts
  src/router-config.tsx
Due: eslint --fix

refactor: dragon pendant
  src/components/dragon-pendant.tsx
  src/enchants/dragon-pendant.ts
  src/router-config.tsx
Due: eslint --fix

refactor: magmeld
  src/components/talisman-of-magmeld.tsx
  src/enchants/talisman-of-magmeld.ts
  src/router-config.tsx
Due: eslint --fix

chore: authority
  src/components/talisman-of-authority.tsx
  src/enchants/talisman-of-authority.ts
  src/router-config.tsx
Due: eslint --fix

refactor: dragon belt
  src/components/dragon-belt.tsx
  src/enchants/dragon-belt.ts
  src/router-config.tsx
Due: eslint --fix

chore: symbols
  src/components/symbols.tsx
  src/enchants/symbols.tsx
  src/router-config.tsx
Due: eslint --fix

refactor: hero crown
  src/components/hero-crown.tsx
  src/enchants/hero-crown.ts
  src/router-config.tsx
Due: eslint --fix

refactor: hunter earring
  src/components/hunter-earring.tsx
  src/enchants/hunter-earring.tsx
  src/router-config.tsx
Due: eslint --fix

refactor: talisman of aden
  src/components/talisman-of-aden.tsx
  src/enchants/talisman-of-aden.tsx
  src/router-config.tsx
Due: eslint --fix

refactor: saiha
  src/components/saiha-cloaks.tsx
  src/enchants/hunter-earring.ts
  src/enchants/saiha-cloaks.ts
  src/router-config.tsx
Due: eslint --fix

refactor: cleanup
  src/enchants/symbols.ts
  src/enchants/talisman-of-aden.ts
Due: eslint --fix

feat: tantar scroll
  src/enchants/tantar.ts
  src/helpers/__snapshots__/calculate-enchants.test.ts.snap
  src/helpers/calculate-enchant.ts
  src/helpers/calculate-enchants.test.ts
  src/router-config.tsx
  src/types.ts
Due: eslint --fix

feat: tantar scroll (#213)
  src/enchants/tantar.ts
  src/helpers/__snapshots__/calculate-enchants.test.ts.snap
  src/helpers/calculate-enchant.ts
  src/helpers/calculate-enchants.test.ts
  src/router-config.tsx
  src/types.ts
Due: eslint --fix

chore: import from jest globals
  src/helpers/adjust-table-props-price.test.ts
  src/helpers/calculate-enchants.test.ts
  src/helpers/unwrap-safe-drops.test.ts
Due: eslint --fix

chore: use turbo
  .github/workflows/ci.yml
  .gitignore
  package-lock.json
  package.json
  turbo.json
Due: prettier --write

chore: extract build
  .github/workflows/ci.yml
Due: none

chore: update gh actions
  .github/workflows/ci.yml
Due: none

chore: node 20
  .github/workflows/ci.yml
  .nvmrc
Due: none

chore: regenerate package-lock
  package-lock.json
Due: prettier --write

chore: combine
  .github/workflows/ci.yml
Due: none

chore: use turbo (#223)
  .github/workflows/ci.yml
  .gitignore
  .nvmrc
  package-lock.json
  package.json
  turbo.json
Due: prettier --write

feat: piercing mask
  src/enchants/piercing-mask.ts
  src/router-config.tsx
Due: eslint --fix

feat: frozen canyon 3
  src/enchants/event-frozen-canyon-3.ts
  src/router-config.tsx
Due: eslint --fix
