Repository ValeriiVasin/l2-enchant-web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,json}": "prettier --write",
  "*.{ts,tsx,js}": "eslint --fix"
}

docs: add readme
  README.md
Due: prettier --write

feat: add client-side routing
  public/__redirects
Due: none

fix: rename redirects file
  public/_redirects
Due: none

docs: add readme (#2)
  README.md
Due: prettier --write

feat: add client-side routing (#3)
  public/_redirects
Due: none

chore: prettify
  .prettierrc
  jest.config.ts
  package-lock.json
  package.json
  src/app.tsx
  src/components/base/enchant-table.tsx
  src/components/base/menu/menu-item.tsx
  src/components/base/menu/menu.tsx
  src/components/base/table-row.tsx
  src/components/crystal-aden.tsx
  src/components/crystal-hardin.tsx
  src/components/dragon-belt.tsx
  src/components/growth-rune.tsx
  src/components/stones.tsx
  src/components/talisman-of-aden.tsx
  src/components/talisman-of-authority.tsx
  src/components/talisman-of-benir.tsx
  src/helpers/calculate-enchant.ts
  src/helpers/calculate-enchants.test.ts
  src/helpers/to-table-row-props.ts
  src/helpers/unwrap-safe-drops.ts
  src/hooks/use-formatter.ts
  src/hooks/use-table-row-props.ts
  src/main.tsx
  src/router.tsx
  src/types.ts
  vite.config.ts
Due: prettier --write, eslint --fix

test: cover existing behaviors
  src/helpers/__snapshots__/calculate-enchants.test.ts.snap
  src/helpers/__snapshots__/unwrap-safe-drops.test.ts.snap
  src/helpers/calculate-enchants.test.ts
  src/helpers/unwrap-safe-drops.test.ts
Due: eslint --fix

feat: add enchant strategy safe
  src/helpers/__snapshots__/calculate-enchants.test.ts.snap
  src/helpers/calculate-enchant.ts
  src/helpers/calculate-enchants.test.ts
Due: eslint --fix

feat: add ui's for saiha cloaks
  src/components/base/menu/menu.tsx
  src/components/saiha-cloaks.tsx
  src/router.tsx
Due: eslint --fix

feat: safe strategy, saiha's cloaks (#17)
  .prettierrc
  jest.config.ts
  package-lock.json
  package.json
  src/app.tsx
  src/components/base/enchant-table.tsx
  src/components/base/menu/menu-item.tsx
  src/components/base/menu/menu.tsx
  src/components/base/table-row.tsx
  src/components/crystal-aden.tsx
  src/components/crystal-hardin.tsx
  src/components/dragon-belt.tsx
  src/components/growth-rune.tsx
  src/components/saiha-cloaks.tsx
  src/components/stones.tsx
  src/components/talisman-of-aden.tsx
  src/components/talisman-of-authority.tsx
  src/components/talisman-of-benir.tsx
  src/helpers/__snapshots__/calculate-enchants.test.ts.snap
  src/helpers/__snapshots__/unwrap-safe-drops.test.ts.snap
  src/helpers/calculate-enchant.ts
  src/helpers/calculate-enchants.test.ts
  src/helpers/to-table-row-props.ts
  src/helpers/unwrap-safe-drops.test.ts
  src/helpers/unwrap-safe-drops.ts
  src/hooks/use-formatter.ts
  src/hooks/use-table-row-props.ts
  src/main.tsx
  src/router.tsx
  src/types.ts
  vite.config.ts
Due: prettier --write, eslint --fix

feat: talisman of eva
  src/components/base/menu/menu.tsx
  src/components/talisman-of-eva.tsx
  src/router.tsx
Due: eslint --fix

feat: talisman of eva (#20)
  src/components/base/menu/menu.tsx
  src/components/talisman-of-eva.tsx
  src/router.tsx
Due: eslint --fix

feat: hero crown
  src/components/base/menu/menu.tsx
  src/components/hero-crown.tsx
  src/router.tsx
Due: eslint --fix

feat: hero crown (#21)
  src/components/base/menu/menu.tsx
  src/components/hero-crown.tsx
  src/router.tsx
Due: eslint --fix

feat: extract router config
  package-lock.json
  package.json
  src/components/base/menu/menu.tsx
  src/router-config.tsx
  src/router.tsx
Due: prettier --write, eslint --fix

feat: redirect from slash to first component
  src/router.tsx
Due: eslint --fix

feat: extract router config (#22)
  package-lock.json
  package.json
  src/components/base/menu/menu.tsx
  src/router-config.tsx
  src/router.tsx
Due: prettier --write, eslint --fix

feat: talisman of magmeld
  src/components/talisman-of-magmeld.tsx
  src/router-config.tsx
Due: eslint --fix

feat: talisman of magmeld (#24)
  src/components/talisman-of-magmeld.tsx
  src/router-config.tsx
Due: eslint --fix

feat: symbols
  src/components/symbols.tsx
  src/router-config.tsx
Due: eslint --fix

feat: symbols (#29)
  src/components/symbols.tsx
  src/router-config.tsx
Due: eslint --fix

feat: add dragon egg
  src/components/agathions.tsx
  src/router-config.tsx
Due: eslint --fix

feat: add dragon egg (#37)
  src/components/agathions.tsx
  src/router-config.tsx
Due: eslint --fix

feat: dragon belt
  src/components/agathions.tsx
  src/components/dragon-pendant.tsx
  src/router-config.tsx
Due: eslint --fix

feat: dragon belt (#38)
  src/components/agathions.tsx
  src/components/dragon-pendant.tsx
  src/router-config.tsx
Due: eslint --fix

feat: correct pricing
  src/components/dimensional-talisman.tsx
Due: eslint --fix

feat: adjust pricing helper
  src/helpers/adjust-table-props-price.test.ts
  src/helpers/adjust-table-props-price.ts
Due: eslint --fix

feat: add dimensional talisman
  src/components/dimensional-talisman.tsx
  src/router-config.tsx
Due: eslint --fix

feat: refactor tables
  src/components/dimensional-talisman.tsx
Due: eslint --fix

feat: dimensional talisman (#51)
  src/components/dimensional-talisman.tsx
  src/helpers/adjust-table-props-price.test.ts
  src/helpers/adjust-table-props-price.ts
  src/router-config.tsx
Due: eslint --fix

feat: clan cloak
  src/components/clan-cloak.tsx
  src/router-config.tsx
Due: eslint --fix

feat: clan cloak (#59)
  src/components/clan-cloak.tsx
  src/router-config.tsx
Due: eslint --fix

feat: add event frozen canyon
  src/components/event-frozen-canyon.tsx
  src/router-config.tsx
Due: eslint --fix

feat: add event frozen canyon (#165)
  src/components/event-frozen-canyon.tsx
  src/router-config.tsx
Due: eslint --fix

fix: item enabled date condition
  src/router-config.tsx
Due: eslint --fix

feat: hunter earring
  src/components/hunter-earring.tsx
  src/router-config.tsx
Due: eslint --fix

feat: hunter earring (#209)
  src/components/hunter-earring.tsx
  src/router-config.tsx
Due: eslint --fix

feat: aden armor
  src/components/crystal-aden.tsx
Due: eslint --fix

refactor: enchant modes
  src/helpers/calculate-enchant.ts
Due: eslint --fix

chore: cleanup enums
  src/components/agathions.tsx
  src/components/clan-cloak.tsx
  src/components/crystal-aden.tsx
  src/components/crystal-hardin.tsx
  src/components/dimensional-talisman.tsx
  src/components/dragon-belt.tsx
  src/components/dragon-pendant.tsx
  src/components/event-frozen-canyon.tsx
  src/components/growth-rune.tsx
  src/components/hero-crown.tsx
  src/components/hunter-earring.tsx
  src/components/saiha-cloaks.tsx
  src/components/stones.tsx
  src/components/symbols.tsx
  src/components/talisman-of-aden.tsx
  src/components/talisman-of-authority.tsx
  src/components/talisman-of-benir.tsx
  src/components/talisman-of-eva.tsx
  src/components/talisman-of-magmeld.tsx
  src/helpers/calculate-enchant.ts
  src/helpers/calculate-enchants.test.ts
  src/helpers/unwrap-safe-drops.ts
  src/types.ts
Due: eslint --fix
