Repository ValeriiVasin/l2-enchant-web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{md,json}": "prettier --write",
  "*.{ts,tsx,js}": "eslint --fix"
}

feat: frozen canyon 3 (#267)
  src/enchants/event-frozen-canyon-3.ts
  src/router-config.tsx
Due: eslint --fix

feat: talisman of baium
  src/enchants/talisman-of-baium.ts
  src/router-config.tsx
Due: eslint --fix

feat: talisman of baium (#455)
  src/enchants/talisman-of-baium.ts
  src/router-config.tsx
Due: eslint --fix

refactor: migrate to tailwind
  index.html
  package-lock.json
  package.json
  postcss.config.js
  src/app.tsx
  src/components/base/enchant-table.tsx
  src/components/base/menu/menu-item.tsx
  src/components/base/menu/menu.tsx
  src/components/base/page-content.tsx
  src/components/base/table-row.tsx
  src/index.css
  src/main.tsx
  tailwind.config.js
Due: prettier --write, eslint --fix

feat: shadcn
  package-lock.json
  package.json
  postcss.config.js
  src/app.tsx
  src/components/base/enchant-table.tsx
  src/components/base/menu/menu-item.tsx
  src/components/ui/table.tsx
  src/globals.css
  src/lib/utils.ts
  src/main.tsx
  tailwind.config.js
  tsconfig.json
  vite.config.ts
Due: prettier --write, eslint --fix

fix: linting
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --write

fix: use @/ across thee files
  src/components/base/enchant-table.tsx
  src/components/base/menu/menu.tsx
  src/components/base/page-content.tsx
  src/components/base/table-row.tsx
  src/components/dimensional-talisman.tsx
Due: eslint --fix

fix: dimensional talisman and spacings
  src/app.tsx
  src/components/base/menu/menu-item.tsx
  src/components/base/menu/menu.tsx
  src/components/base/page-content.tsx
  src/components/dimensional-talisman.tsx
Due: eslint --fix

fix: spacings and remove header
  src/app.tsx
  src/components/base/enchant-table.tsx
  src/components/ui/table.tsx
Due: eslint --fix

fix: reset to shadcn defaults
  src/components/base/enchant-table.tsx
  src/components/ui/table.tsx
Due: eslint --fix

feat: dark mode
  components.json
  package-lock.json
  src/app.tsx
  src/components/ui/table.tsx
  src/globals.css
  src/lib/utils.ts
  tailwind.config.js
Due: prettier --write, eslint --fix

fix: refine dark mode
  src/globals.css
  vite.config.ts
Due: eslint --fix

feat: override dark mode
  src/app.tsx
Due: eslint --fix

fix: vite config
  vite.config.ts
Due: eslint --fix

fix: use ts for tailwind config
  tailwind.config.ts
Due: eslint --fix

feat: highlight the header
  src/components/base/enchant-table.tsx
Due: eslint --fix

fix: long name bauim
  src/enchants/talisman-of-baium.ts
Due: eslint --fix

fix: active item highlight
  src/components/base/menu/menu-item.tsx
Due: eslint --fix

feat/ai restyling (#620)
  .eslintrc.json
  components.json
  index.html
  package-lock.json
  package.json
  postcss.config.js
  src/app.tsx
  src/components/base/enchant-table.tsx
  src/components/base/menu/menu-item.tsx
  src/components/base/menu/menu.tsx
  src/components/base/page-content.tsx
  src/components/base/table-row.tsx
  src/components/dimensional-talisman.tsx
  src/components/ui/table.tsx
  src/enchants/talisman-of-baium.ts
  src/globals.css
  src/index.css
  src/lib/utils.ts
  src/main.tsx
  tailwind.config.ts
  tsconfig.json
  vite.config.ts
Due: prettier --write, eslint --fix

fix: restrict app to approved hosts
  src/main.tsx
  vite.config.ts
Due: eslint --fix

fix: restrict app to approved hosts (#621)
  src/main.tsx
  vite.config.ts
Due: eslint --fix
